<!DOCTYPE html>
<html>
    <head>
        <title>Python Database App</title>
    </head>
    <body>
        <form method="POST" action="">
            <center>
                <h2>Enter Teacher's Details</h2>
                <br>
                <p>ID:</p>
                <input type="text", name="ID">
                <br>
                <p>Teacher's name:</p>
                <input type="text" name="Name">
                <br>
                <p>Subject:</p>
                <input type="text" name="Subject"
                <br>
                <p>Salary:</p>
                <input type="text" name="Salary">
                <br>
                <br>
                <input type="submit">
            </center>
        </form>
    </body>
</html>